.visible  {
  background-color: orange;
}

.pousez  {
  background-color: grey;
  color: white;
  font-size: 25px;
  width: 100px;
}


.overlay  {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  background-color: white;
  border: 3px solid green;
}
