* {
    box-sizing: border-box;
}

body  {
  background: 'images/stormy_sky_by_eltear_stock-d3olpvt.jpg';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient: (#AA1234, #BC56B2);
}

.header  {
  font-family: Libre Franklin, sans-serif;
  font-size: 120px;
  text-shadow: 5px 5px 15px black;
  color: white;
  text-align: center;
}

.top-strip  {
  height: 200px;
  width: 100%;
  font-family: Libre Franklin, sans-serif;
  font-size: 50px;
  text-shadow: 5px 5px 15px black;
  color: white;
  display: flex;
  justify-content: space-around;
}

#location  {
  background-color: #273c7544;
  width: 25%;
  height: 200px;
  border: 5px solid #273c75;
  border-radius: 22px;
  text-align: center;
  padding-top: 5px;
}

#datetime  {
  background-color: #273c7544;
  width: 25%;
  height: 200px;
  border: 5px solid #273c75;
  border-radius: 22px;
  text-align: center;
  padding-top: 10px;
}

#current  {
  background-color: #273c7544;
  width: 25%;
  height: 200px;
  border: 5px solid #273c75;
  border-radius: 22px;
  text-align: center;
  padding-top: 35px;
}

.middle-strip  {
  height: 200px;
  width: 100%;
  font-family: Libre Franklin, sans-serif;
  text-shadow: 5px 5px 15px black;
  position: relative;
  top: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.day0  {
  background-color: #192a5644;
  border: 5px solid #192a56;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.day1  {
  background-color: #192a5644;
  border: 5px solid #192a56;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.day2  {
  background-color: #192a5644;
  border: 5px solid #192a56;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.day3  {
  background-color: #192a5644;
  border: 5px solid #192a56;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.day4  {
  background-color: #192a5644;
  border: 5px solid #192a56;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.day5  {
  background-color: #192a5644;
  border: 5px solid #192a56;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}

.day0:hover  {
  background-color: #192a56aa;
}

.day1:hover  {
  background-color: #192a56aa;
}

.day2:hover  {
  background-color: #192a56aa;
}

.day3:hover  {
  background-color: #192a56aa;
}

.day4:hover  {
  background-color: #192a56aa;
}

.day5:hover  {
  background-color: #192a56aa;
}

.selected  {
  border: 5px solid #192a56;
  background-color: #192a56ee;
}

#sunrise  {
  background-color: #40739e;
  width: 20%;
  height: 40px;
  margin-left: 250px;
  top: 100px;
  text-align: center;
  font-size: 30px;
  color: #dcdde1;
  border: solid black 3px;
  position: relative;
  opacity: 0;
}

#sunset  {
  background-color: #40739e;
  width: 20%;
  height: 40px;
  margin-left: 250px;
  top: 100px;
  text-align: center;
  font-size: 30px;
  color: #dcdde1;
  border: solid black 3px;
  position: relative;
  opacity: 0;
}

#windspeed  {
  background-color: #40739e;
  width: 20%;
  height: 40px;
  margin-left: 250px;
  top: 100px;
  text-align: center;
  font-size: 30px;
  color: #dcdde1;
  border: solid black 3px;
  position: relative;
  opacity: 0;
}

#visibility  {
  background-color: #40739e;
  width: 20%;
  height: 40px;
  margin-left: 250px;
  top: 100px;
  text-align: center;
  font-size: 30px;
  color: #dcdde1;
  border: solid black 3px;
  position: relative;
  opacity: 0;
}

#humidity  {
  background-color: #40739e;
  width: 20%;
  height: 40px;
  margin-left: 250px;
  top: 100px;
  text-align: center;
  font-size: 30px;
  color: #dcdde1;
  border: solid black 3px;
  position: relative;
  opacity: 0;
}

#charts  {
  background-color: #7f8fa6;
  width: 150px;
  height: 150px;
  border: 3px solid #8c7ae6;
  border-radius: 100%;
  font-family: Libre Franklin, sans-serif;
  font-size: 40px;
  color: #8c7ae6;
  text-align: center;
  padding-top: 50px;
  position: absolute;
  right: 200px;
}

 footer  {
   background-color: cyan;
   position: fixed;
   font: Play;
   font-size: 30px;
   color: white;
   text-align: center;
   padding-top: 20px;
   bottom: 0;
   left: 0;
   height: 70px;
   width: 100%;
   margin-bottom: 0px;
 }

#charts:hover  {
  background-color: yellow;
}
