* {
    box-sizing: border-box;
}

.header  {
  font-family: Bellefair;
  font-size: 120px;
  color: black;
  text-align: center;
}

.container  {
  max-width: 90%;
  border: 2px solid red;
}


#temp-chart  {
  border: solid 2px black;
  max-width: 45%;
  margin-left: 75px;
}

#rain-chart  {
  border: solid 2px black;
  max-width: 45%;
  position: absolute;
  margin-left: 970px;
  bottom: 377px;
}
