* {
    box-sizing: border-box;
}

.header  {
  font-family: Bellefair;
  font-size: 120px;
  color: black;
  text-align: center;
}

.container  {
  width: 98%;
  border: 2px solid red;
  margin-left: 1%;
}


#temp-chart  {
  border: solid 2px black;
  max-width: 48%;
  display: inline;
  /* margin-left: 75px; */
}

#rain-chart  {
  border: solid 2px black;
  max-width: 48%;
  display: inline;
  /* position: absolute; */
  margin-left: 970px;
  bottom: 377px;
}
