* {
    box-sizing: border-box;
}

.header  {
  font-family: Bellefair;
  font-size: 120px;
  color: black;
  text-align: center;
}

.container  {
  width: 98%;
  /* border: 2px solid red; */
  margin-left: 1%;
}

.canbox  {
  max-width: 900px;
  /* max-height: 500px; */
  position: relative;
  /* display: inline; */
}


#temp-chart  {
  border: solid 2px black;
  /* max-width: 800px; */
  position: absolute;
}

#rain-chart  {
  border: solid 2px black;
  /* max-width: 800px; */
  position: relative;
  left: 950px;
}

.return  {
  background-color: powderblue;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 50px;
  position: relative;
  padding-top: 50px;
  top: 100px;
  left: 200px
}

a:hover  {
  background-color: yellow;
}
