* {
    box-sizing: border-box;
}

body  {
  background: 'images/stormy_sky_by_eltear_stock-d3olpvt.jpg';
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient: (#AA1234, #BC56B2);
}

.header  {
  font-family: Bellefair;
  font-size: 120px;
  color: white;
  text-align: center;
}

.top-strip  {
  height: 200px;
  width: 100%;
  border: solid 2px white;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
}

#location  {
  background-color: blue;
  width: 25%;
  height: 200px;
  text-align: center;
  padding-top: 35px;
}

#datetime  {
  background-color: blue;
  width: 25%;
  height: 200px;
  text-align: center;
  padding-top: 10px;
}

#current  {
  background-color: blue;
  width: 25%;
  height: 200px;
  text-align: center;
  padding-top: 70px;
}

.middle-strip  {
  height: 200px;
  width: 100%;
  border: solid 2px white;
  position: relative;
  top: 50px;
  font-size: 60px;
  color: white;
  display: flex;
  justify-content: space-around;
}

#today  {
  background-color: blue;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

#day1  {
  background-color: blue;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

#day2  {
  background-color: blue;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

#day3  {
  background-color: blue;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

#day4  {
  background-color: blue;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

#day5  {
  background-color: blue;
  border-radius: 22px;
  width: 15%;
  height: 200px;
  text-align: center;
  font-size: 30px;
  padding-top: 35px;
}

 footer  {
   background-color: cyan;
   position: fixed;
   font: Play;
   font-size: 30px;
   color: white;
   text-align: center;
   padding-top: 20px;
   bottom: 0;
   left: 0;
   height: 70px;
   width: 100%;
   margin-bottom: 0px;
 }
