*  {
  box-sizing: border-box;
}

/* .strip  {
  border: 2px solid black;
  width: 100%;
} */

.c1  {
  max-width: 45%;
  position: relative;
  display: inline;
}

#box1  {
  width: 12em;
  background-color: pink;
  /* font-size: 50px; */
  text-align: center;
  /* position: relative;
  margin-left: 500px; */
  border: 2px solid red;

}

#box2  {
  width: 12em;
  background-color: pink;
  /* font-size: 50px; */
  text-align: center;
  position: relative;
  left: 700px;
  border: 2px solid red;

}

.selected  {
  border: 5px solid red;
  background-color: green;
  font-size: 75px;
}
